*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: blanchedalmond;
}

.container{
    width: 100%;
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.container2{
    max-width: 1100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
}
.image{
    width: 20%;
    text-align: center;
    height: auto;
    border-radius: 50%;
}

h1,h3{
    text-shadow: 4px 4px 10px  grey;
    letter-spacing: 2px;
    margin: .4rem;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

ul{
    border: 2px solid black;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
    margin: 0.5rem 0;
    background-color: rgba(128, 128, 128, 0.432);
}

.socialLink{
    text-decoration: none;
    color:brown;
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
}

.qualification, .skills{
    width: 45%;
    border: 3px solid grey;
    padding: 2rem; 
    border-radius: 10px;
}

.skill-list{
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.qualli{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.quali p{
    margin:0.5rem 1rem;
}

section{
    border: 3px solid grey;
    border-radius: 10px;
    padding: 1rem;
}

footer{
    padding: 3rem;
    color:chocolate;
}
